<!DOCTYPE html>
<html>
<head>
<title>Emergency Request</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2 style="color:red;">🚨 Emergency Blood Request</h2>

<form>

<select>
<option>Select Blood Group</option>
<option>O+</option>
<option>O-</option>
<option>A+</option>
<option>A-</option>
<option>B+</option>
<option>B-</option>
<option>AB+</option>
<option>AB-</option>
</select>

<input type="text" placeholder="Hospital Name">

<input type="text" placeholder="City">

<input type="text" placeholder="Contact Number">

<button type="submit">Send Emergency Request</button>

</form>

</div>

</body>
</html>